@font-face {
    font-family: Raleway;
    src:  url(https://fonts.gstatic.com/s/raleway/v12/0dTEPzkLWceF7z0koJaX1A.woff2);
}

@font-face {
    font-family: Rubik;
    src: url(https://fonts.gstatic.com/s/rubik/v7/_mlO9_1N7oXYhEnEzC2l-g.woff2);
}

@font-face {
    font-family: Lato;
    src:  url(https://fonts.gstatic.com/s/lato/v14/1YwB1sO8YE1Lyjf12WNiUA.woff2);
}
